* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 31px;
}

.login-section {
    background: rgba(255, 255, 255, 0.4);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
hr {
    border: none;
    height: 1px;
    background-color: #00000068;
    margin: 20px 0;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 0 0 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form label {
    font-size: 18px;
}
form button {
    width: 49.4%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5px;
}