*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

/* basta sa uluhan to */
.header {
    background: #35424a;
    color: #ffffff;
    padding: 15px;
    display: flex;    
    justify-content: center;
}
.header h1 {
    margin: 5px;
    font-size: 44px;
}

/* navbar naman to */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e8491d;
    padding: 10px 0;
    width: 100%;
    
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

/* main content naman to */
.main-container-side {
    display: flex;
    gap: 20px;
    width: 100%;
}

/* MAIN CONTENT — BIG */
.main-content {
    flex: 4;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 70vh;
}

/* SIDEBAR — SMALL */
.sidebar {
    flex: 1;
    background: #e2e2e2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: 70vh;
}

/* 📱 Responsive */
@media (max-width: 768px) {
    .main-container-side {
        flex-direction: column;
    }

    .main-content,
    .sidebar {
        width: 100%;
        min-height: auto;
    }
}


