*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: left;
}
.header h1 {
    margin-left: 10px;
}
.main-content {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navbar-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e8491d;
    padding: 10px 0;
    width: 100px;
    height: 100vh;
    
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}